@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@700&display=swap');

body {
    background-color: rgb(20, 20, 20);
}

div {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: purple */
}

h1 {
    font-family: 'EB Garamond', serif;
    color: rgb(240, 240, 240);
    font-size: 3em;
}

@media only screen and (max-width: 375px) {
    h1 {
        font-size: 2em;
    }
}